a {
  color: #000000 !important;
}
a:hover {
  color: #ff8a00 !important;
}
a:active {
  color: #ff8a00 !important;
}
.sidebar {
  background-color: #ffffff;
  position: relative !important;
  min-height: 800px !important;
  z-index: 100;
  height: 800px !important;
}
.sidebar li {
  margin-bottom: 2em;
}
.sidebar li:hover span {
  display: inline-block;
  transform: translate(5px);
}
.sidebar svg {
  margin-right: 5px;
}

.sidebar-link:hover {
  color: #ff8a00 !important;
}

.sidebar-link:active {
  color: #ff8a00 !important;
  font-weight: 700 !important;
}

.active {
  color: #ff8a00 !important;
}
